<%- include("partials/header") -%>

<div class="post">


<h1><%=content.title%></h1>

<p><%=content.content%></p>

</div>

<%- include("partials/footer") -%>
<style>
.post{
  max-width: 700px;
  margin: auto;
}
</style>
