<form action="send" method="post">
    <p>
        <label for="rumour">Rumour: </label>
        <textarea name="rumour" cols="30" rows="10"></textarea>
    </p>
    <p>
        <label for="headlines">Headlines: </label>
        <textarea name="headlines" cols="30" rows="10"></textarea>
    </p>
    <button type="submit">Submit</button>
</form>
