<%- include("partials/header") %>

<br>
<br>
<h1 style="text-align:center">You have successfully registered</h1>

<style media="screen">
h1{
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 70px;
  /*width: 1000% ;*/
  /*transform: scale(2);*/
  /* padding-left: 40%; */

  padding-top: 2%;
  margin-bottom: 0
}

</style>
<%- include("partials/footer") %>
